body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to bottom right, rgb(222, 251, 0), rgb(239, 46, 239)
  );
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 500px;
  /* opacity: 0.7; */
}

h1 {
  margin-bottom: 30px;
  font-family: monospace;
  color: #b70cd6;
}

input {
  padding: 10px;
  width: 200px;
  margin-bottom: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: none;
}

button {
  padding: 10px 20px;
  background-color: #8773a0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #b70cd6;
}

#weatherResult {
  margin-top: 2px;
}

#temperature {
  font-weight: bold;
  font-size: 35px;

}
#weatherImage {
  width: 200px;
  height: 200px;
  margin: 10px;
}


#weatherResult h2 {
  margin: 0;
}

#weatherResult p {
  margin: 5px 0;
}

#description {
  font-weight: bold;
}
/* @media only screen (min-width: 768px){
  ...
  } */

